@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  background:black;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
}
#menu-bar{
    display: none;
}
header{
    position: fixed;
    top:0; left: 0; right:0;
    background:#333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
  }
  
  header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
    text-transform: uppercase;
  }
  
  header .logo span{
    color:var(--orange);
  }
  
  header .navbar a{
    color:#fff;
    font-size: 2rem;
    margin:0 .8rem;
  }
  
  header .navbar a:hover{
    color:var(--orange);
  }
  
  header .icons i{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-right: 2rem;
  }
  
  header .icons i:hover{
    color:var(--orange);
  }
  
  header .search-bar-container{
    position: absolute;
    top:100%; left: 0; right:0;
    padding:1.5rem 2rem;
    background:#333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color:#333;
    font-size: 1.7rem;
    border-radius: .5rem;
  }
  
  header .search-bar-container label{
    color:#fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
  }
  
  header .search-bar-container label:hover{
    color:var(--orange);
  }

  .informacion{
    width: 100%;
    height: 100%;
  }
  
  .informacion>article{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  article>.Love1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 60px auto;
  }

  article>.parrafo1{
    color: white;
    text-align: justify;
    font-size: 20px;
  }
.parrafo1>span{
  text-align: center;
  font-weight: bold;
  color:blue;
}
.parrafo1>.neo{
  font-style: oblique;
}
  article>.love2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 40px auto;
  }

  article>.parrafo2{
    color: white;
    text-align: justify;
    font-size: 20px;
  }

  .parrafo2>span{
    font-weight: bold;
    color:blue;
  }
  article>.love3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 40px auto;
  }
  article>.parrafo3{
    color: white;
    text-align: center;
    font-size: 20px;
  }

  article>.love4{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 40px auto;
  }
  article>.parrafo4{
    color: white;
    text-align: center;
    font-size: 20px;
  }

  article>.devs{
    display: flex;
    gap:10px;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .devs>img{
    width: 150px;
    height: 150px;
   
  }

  .parrafo5{
    color: white;
    text-align: center;
    font-size: 20px;
  }

  .love5{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 40px auto;
  }


  .footer{
    background:#333;
    
  }
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color:#fff;
  }
  
  .footer .box-container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
  }
  
  .footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  
  .footer .credit span{
    color:var(--orange);
  }
  
  
  @media (max-width:991px){

    header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }
  
  }

  @media (max-width:768px) {
    #menu-bar{
        display: initial;
        font-size: 20px;
        color: #fff;
      }
    
      header .navbar{
        position: absolute;
        top:100%; right:0; left: 0;
        background: #333;
        border-top: .1rem solid rgba(255,255,255,.2);
        padding:1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
    
      header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    
      header .navbar a{
        display: block;
        border-radius: .5rem;
        padding:1.5rem;    
        margin:1.5rem 0;    
        background:#222;
      }
    
      .lorem-data>h3{
        font-size:25px;
        color:white;
        text-align: center;
      }
      .lorem-data>.sociales{
        display: flex;
        gap:2rem;
        justify-content: center;
      }
      
      .lorem-data>.sociales>a{
        font-size: 30px;
        color:white;
      }
      
      .lorem-data>.sociales>a:hover{
        color:orange;
      }
    
       .home{
        flex-direction:column;
       }
       .home>.lorem-welcome{
        width:100%;
       }
    
       .home>.imagen{
        width:100%;
       }
     
       .home{
        margin-top:60px;
        width:100%;
        height:100px;
        display:flex;
        flex-direction: row;
        background-color: black;
        color:white;
      }
      .lorem-welcome{
        margin-top:50px;
        width:50%;
        display: flex;
        flex-direction:column;
      }
      
      .lorem-welcome>.heading{
        text-align: center;
        padding:5.5rem 0;
        color:white;
      }
      .heading>span{
        font-size: 2.1rem;
        background:rgba(10, 94, 228, 0.2);
        color:white;
        border-radius: .5rem;
        padding:.5rem 1rem;
      }
      
      .heading> .space{
        background:none;
      }



      article>.parrafo2{
        text-align: justify;
      }
      article>.parrafo3{
        text-align: justify;
      }
      article>.parrafo4{
        text-align: justify;
      }
      article>.parrafo5{
        text-align: justify;
      }
    
  }

  @media (max-width:480px){

    html{
      font-size: 50%;
    }
     
    .heading span{
      font-size: 4.5rem;
    }
  
    .contact .row form .inputBox input{
      width:100%;
    }
  
    .home{
      margin-top: 20px;
    }
  
  
  
  
  }